html {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todoTitleFont {
  font-family: "Baloo 2", cursive;
}
span {
  vertical-align: sub;
}
.btn.todo-btn-cat {
  display: inline;
  vertical-align: sub;
}
p.lead {
  font-family: "Baloo 2", cursive;
}

p {
  margin-bottom: 0;
  font-family: "Baloo 2", cursive;
}
#legal p {
  margin-bottom: 1em;
}
.home-cookie-fix {
  bottom: 0px;
  left: 0px;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mySpecialFont {
  font-family: "Rock Salt", cursive;
  font-size: 1em;
  color: #03224c !important;
}
.text-fokjlenot {
  color: #03224c !important;
}
#todosList {
  height: 100vh !important;
}
.bg-orange {
  background-color:/* #FF6347 */ white;
}
.todo-card {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.todo-btn-cat {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.rc-anchor-normal {
  width: 100% !important;
}
#g-recaptcha div:first-child,
body {
  width: 100% !important;
}
#landing-header {
  background-size: 100% 100%;
}
#projectsList {
  padding-top: 150px;
  padding-bottom: 80px;
}
#FirstTodo {
  padding-top: 200px;
}
#NPForm {
  padding-top: 250px;
  padding-bottom: 70px;
}
#FirstTodo {
  padding-top: 210px;
  padding-bottom: 60px;
}
#AddTodo {
  padding-top: 210px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  #landing-header {
    min-height: 650px;
    background-size: cover;
  }
  #projectsList {
    padding-top: 100px;
  }
  #FirstTodo {
    padding-top: 80px;
  }
  #AddTodo {
    padding-top: 100px;
  }
  #NPForm {
    padding-top: 70px;
  }
  .NoProjectPadding{
    padding-top:200px;
  }
  .mySpecialFont {
    font-size: 1.3em;
  }
  #no-tasks-yet {
    height: 85%;
  }
}
